::-webkit-scrollbar-track-piece {
  background: #fff !important;
}
::-webkit-scrollbar-thumb {
  background: #191e27;
}
::-webkit-scrollbar-thumb:hover {
  background: #506994;
}
::-webkit-scrollbar-thumb:active {
  background: #0f1216;
}
html,
body {
  height: 100%;
  background: #dde3e9;
  overflow: hidden;
}
.hide {
  display: none;
}
.show {
  display: inline-block;
}
.z-header {
  position: fixed;
  width: 100%;
  min-width: 1200px;
  left: 0;
  top: 0;
  z-index: 10;
  height: 50px;
  padding: 0 20px;
  background: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
}
.z-header .z-logo {
  width: 150px;
  height: 50px;
  background: url(/Public/Behind/images/new-logo.png) no-repeat center;
}
.z-header .z-menu {
  float: left;
  width: 52px;
  height: 50px;
  border: 1px solid #dde3e9;
  margin: 0 30px 0 50px;
  border-top: none;
  border-bottom: none;
}
.z-header .z-menu i {
  color: #8995a1;
  line-height: 50px;
  overflow: hidden;
  display: block;
  width: 50px;
  margin: 0 auto;
}
.z-header .z-menu i.z-open {
  width: 4px;
}
.z-header .z-search {
  padding: 11px 0;
  width: 220px;
  position: relative;
}
.z-header .z-search input {
  display: block;
  width: 100%;
  padding-right: 25px;
}
.z-header .z-search i {
  position: absolute;
  right: 7px;
  top: 17px;
  font-size: 16px;
  color: #8995a1;
}
.z-header .z-user {
  padding: 10px 0;
}
.z-header .z-user a,
.z-header .z-user p {
  float: left;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  color: #434c56;
}
.z-header .z-user a {
  width: 30px;
  margin-left: 20px;
  text-align: center;
}
.z-header .z-user a i {
  font-size: 24px;
}
.z-header .z-user a:hover i {
  color: #f66;
}
.z-header .z-user .z-photo {
  border: 1px solid #dde3e9;
  border-radius: 100px;
}
.z-header .z-user .z-photo img {
  display: block;
  width: 28px;
  height: 28px;
}
.z-nav-wrap {
  width: 44px;
  height: 100%;
  background: #354052;
  padding: 60px 0 20px 0;
  color: #b9c0ca;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.2s;
}
.z-nav-wrap .z-nav-list.z-open {
  transition: all 0.2s;
  width: 220px;
}
.z-nav-wrap .z-nav-list.z-open li {
  padding: 0 24px;
  border-left: 2px solid #354052;
  cursor: pointer;
}
.z-nav-wrap .z-nav-list.z-open li:hover i,
.z-nav-wrap .z-nav-list.z-open li:hover a {
  color: #fff;
}
.z-nav-wrap .z-nav-list.z-open li.on {
  border-color: #6cf;
  background: #2b3443;
}
.z-nav-wrap .z-nav-list.z-open li.on a {
  color: #fff;
}
.z-nav-wrap .z-nav-list.z-open li.on i {
  color: #fff;
}
.z-nav-wrap .z-nav-list.z-open li.on .z-subnav {
  display: block;
  height: auto;
  transition: all 0.2s;
  border-top: 1px solid #b9c0ca;
  padding: 10px 0 15px;
  width: 100%;
}
.z-nav-wrap .z-nav-list.z-open li.on .z-subnav a {
  line-height: 30px;
  padding-left: 34px;
  height: 30px;
  font-size: 14px;
  color: #b9c0ca;
}
.z-nav-wrap .z-nav-list.z-open li.on .z-subnav a:hover {
  color: #fff;
}
.z-nav-wrap .z-nav-list.z-open a {
  color: #b9c0ca;
  display: block;
  height: 44px;
  font-size: 0;
  line-height: 44px;
}
.z-nav-wrap .z-nav-list.z-open a i {
  width: 34px;
}
.z-nav-wrap .z-nav-list.z-open a span {
  line-height: 44px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}
.z-nav-wrap .z-nav-list.z-open a.active {
  color: #fff;
}
.z-nav-wrap .z-nav-list.z-open .z-subnav {
  height: 0px;
  overflow: hidden;
}
.z-nav-wrap .z-nav-list {
  transition: all 0.2s;
}
.z-nav-wrap .z-nav-list span {
  display: none;
}
.z-nav-wrap .z-nav-list li {
  padding: 0 10px;
  border-left: 2px solid #354052;
  transition: all 0.2s;
}
.z-nav-wrap .z-nav-list li .z-subnav {
  display: none;
}
.z-nav-wrap .z-nav-list li.on {
  border-color: #6cf !important;
  background: #2b3443;
}
.z-nav-wrap .z-nav-list li.on a {
  color: #fff;
  height: 44px;
}
.z-nav-wrap .z-nav-list i {
  color: #b9c0ca;
  line-height: 44px;
}
.z-nav-wrap .z-nav-list.z-sub li {
  position: relative;
  overflow: hidden;
  height: 38px;
}
.z-nav-wrap .z-nav-list.z-sub li i {
  line-height: 38px;
}
.z-nav-wrap .z-nav-list.z-sub li .z-subnav {
  display: block;
  position: absolute;
  transition: all 0.2s;
  top: 50%;
  left: 0px;
  opacity: 0;
  transform: translateY(-50%);
  z-index: 10;
  width: 180px;
  border-radius: 4px;
  background: #2b3443;
  padding: 5px;
}
.z-nav-wrap .z-nav-list.z-sub li .z-subnav a {
  color: #fff;
  display: block;
  padding: 0 10px;
  line-height: 30px;
  position: relative;
  z-index: 11;
  height: 30px;
}
.z-nav-wrap .z-nav-list.z-sub li .z-subnav a:hover {
  background: #5be;
}
.z-nav-wrap .z-nav-list.z-sub li .z-subnav:before {
  content: '';
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  border: 10px solid transparent;
  border-right: 10px solid #2b3443;
}
.z-nav-wrap .z-nav-list.z-sub li:hover {
  overflow: visible;
  background: #283038;
  border-color: #283038;
}
.z-nav-wrap .z-nav-list.z-sub li:hover .z-subnav {
  left: 45px;
  opacity: 1;
}
.z-nav-wrap.z-open {
  width: 220px;
  overflow-y: auto;
  overflow-x: hidden;
}
.z-nav-wrap.z-open::-webkit-scrollbar-track-piece {
  background: #354052 !important;
}
.eui-shade,
.eui-layer {
  position: absolute !important;
}
.z-main-wrap {
  transition: all 0.2s;
  width: 100%;
  min-width: 1200px;
  height: 100%;
  padding: 60px 10px 10px 54px;
}
.z-main-wrap a.z-tabwin-return {
  display: none;
}
.z-main-wrap .z-main-tab {
  width: 100%;
  height: 44px;
  padding: 10px 15px 0;
  position: relative;
  background: #354052;
  z-index: 3;
  overflow: hidden;
}
.z-main-wrap .z-main-tab .z-main-tab-btn {
  position: absolute;
  top: 0;
  height: 44px;
  width: 24px;
  text-align: center;
  line-height: 44px;
  color: #c4cbd3;
  z-index: 1;
  display: none;
  background: #2b3443;
}
.z-main-wrap .z-main-tab .z-main-tab-btn:hover {
  color: #fff;
}
.z-main-wrap .z-main-tab .eui-icon-return {
  left: 0;
}
.z-main-wrap .z-main-tab .eui-icon-enter {
  right: 0;
}
.z-main-wrap .z-main-tab .z-main-tab-list {
  position: relative;
  left: 0;
  display: inline-block;
  white-space: nowrap;
  height: 34px;
}
.z-main-wrap .z-main-tab .z-main-tab-list a {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  padding: 0 30px 0 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: #617080;
  color: #fff;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}
.z-main-wrap .z-main-tab .z-main-tab-list a i {
  background: #434c56;
  font-size: 12px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 15px;
  margin-left: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.z-main-wrap .z-main-tab .z-main-tab-list a i:hover {
  background: #f66;
  color: #fff;
}
.z-main-wrap .z-main-tab .z-main-tab-list a.eui-tabwin-only {
  padding: 0 10px;
}
.z-main-wrap .z-main-tab .z-main-tab-list a.active {
  background: #fff;
  color: #434c56;
}
.z-main-wrap .z-main-tab .z-main-tab-list a.active i {
  background: #dde3e9;
}
.z-main-wrap .z-main-tab .z-main-tab-list a.active i:hover {
  background: #f66;
  color: #fff;
}
.z-main-wrap .z-main-tab .z-main-tab-list a + a {
  margin-left: 3px;
}
.z-main-wrap .z-main-tab.on {
  padding: 10px 25px 0;
}
.z-main-wrap .z-main-tab.on .z-main-tab-list {
  padding: 0 10px;
}
.z-main-wrap .z-main-context {
  background: #fff;
  height: 100%;
  margin-top: -44px;
  padding-top: 44px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.z-main-wrap .z-main-context .eui-loading {
  z-index: 1;
}
.z-main-wrap .z-main-context .eui-progress-wrap .eui-progress {
  top: 1px;
  height: 4px;
  width: 100%;
  left: 0;
}
.z-main-wrap .z-main-context .eui-progress-wrap .eui-progress-bar {
  height: 3px;
  border-radius: 0;
}
.z-main-wrap .z-main-context .eui-progress-wrap .eui-progress-info {
  display: none;
}
.z-main-wrap .z-main-context .eui-tabwin-main {
  display: none;
  padding: 15px;
  overflow-y: auto;
  height: 100%;
}
.z-main-wrap .z-main-context .eui-tabwin-main.active {
  display: block;
}
.z-main-wrap .z-main-context .eui-tabwin-iframe {
  padding: 0;
  overflow: hidden;
}
.z-main-wrap .z-main-context .eui-tabwin-iframe iframe {
  border: none;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.eui-tabwin-content {
  background: #fff;
  height: 100%;
}
.z-main-wrap.z-open {
  padding: 60px 10px 10px 230px;
}
.z-tool {
  margin-bottom: 15px;
}
.z-tool .eui-ipt,
.z-tool .eui-select-wrap,
.z-tool .eui-date {
  width: 180px;
}
.z-tool h4 {
  line-height: 40px;
}
.eui-imgpopover .eui-imgpopover-num {
  display: none;
}
.z-table-btn {
  font-size: 24px;
  vertical-align: top;
}
.z-table-btn + .z-table-btn {
  margin-left: 5px;
}
.primary {
  color: #6cf !important;
}
.primary:hover {
  color: #7df !important;
}
.primary:active {
  color: #5be !important;
}
.danger {
  color: #f66 !important;
}
.danger:hover {
  color: #f88 !important;
}
.danger:active {
  color: #e55 !important;
}
.done {
  color: #6c9 !important;
}
.done:hover {
  color: #7da !important;
}
.done:active {
  color: #5b8 !important;
}
.warn {
  color: #fb1 !important;
}
.warn:hover {
  color: #fc2 !important;
}
.warn:active {
  color: #ea0 !important;
}
.black {
  color: #666 !important;
}
.black:hover {
  color: #999 !important;
}
.black:active {
  color: #333 !important;
}
.disabled,
.disabled:hover,
.disabled:active {
  cursor: not-allowed;
  color: #ccc !important;
}
.bg-default,
.bg-danger,
.bg-done,
.bg-warn,
.bg-primary {
  display: inline-block;
  color: #fff;
  padding: 0 6px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none !important;
  white-space: nowrap;
}
.bg-default:hover,
.bg-danger:hover,
.bg-done:hover,
.bg-warn:hover,
.bg-primary:hover {
  color: #fff !important;
}
.bg-default {
  background: #c4cbd3;
}
.bg-danger {
  background: #f66;
}
.bg-done {
  background: #6c9;
}
.bg-warn {
  background: #fb1;
}
.bg-primary {
  background: #6cf;
}
.z-crest,
.z-crest img {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: top;
}
.z-search-list {
  background: #fff;
  border-radius: 10px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  right: 0;
  top: 45px;
  padding: 8px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
}
.z-search-list i {
  display: none;
}
.z-search-list li {
  line-height: 30px;
  padding: 0 8px;
  font-size: 12px;
}
.z-search-list li a {
  display: block;
  font-size: 12px;
  color: #434c56;
}
.z-search-list li:hover {
  background: #f1f4f7;
}
.eui-layer {
  width: 60%;
  min-width: 1000px;
  height: 70%;
}
.eui-layer-main {
  padding: 60px 15px 15px;
}
.eui-layer-main .eui-form {
  width: 780px;
}
.eui-layer-main .eui-select {
  width: 100%;
}
.eui-layer.on {
  top: 45%;
}
.eui-form {
  padding: 20px;
}
.eui-form .eui-upload-item {
  margin: 0;
}
.eui-form .eui-upload-item + .eui-upload-item {
  margin-left: 10px;
}
.eui-table {
  margin-bottom: 20px;
}
.eui-table a {
  text-decoration: underline;
}
.eui-table a:hover {
  color: #5be;
}
.eui-table a.z-table-btn {
  text-decoration: none;
}
.eui-table .z-serial {
  width: 50px;
}
.eui-table tr th:nth-of-type(1),
.eui-table tr td:nth-of-type(1) {
  text-align: center;
  width: 55px;
}
.eui-table .tit span {
  margin-right: 10px;
}
.eui-table a.eui-btn {
  text-decoration: none;
}
.eui-table td,
.eui-table th {
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 24px;
}
.eui-table td span + span,
.eui-table th span + span {
  margin-left: 3px;
}
.table-no-num tr th:nth-of-type(1),
.table-no-num tr td:nth-of-type(1) {
  text-align: left;
  width: auto;
}
.eui-btn.primary {
  border-color: #6cf;
}
.eui-page {
  padding: 10px 0 44px;
}
.eui-page .z-page-data,
.eui-page .z-page-data2 {
  font-size: 14px;
}
.eui-page .z-page-data i,
.eui-page .z-page-data2 i {
  font-style: normal;
  margin: 0 3px;
}
.eui-page .z-page-total {
  margin-left: 10px;
}
.eui-page .eui-select-wrap {
  text-align: left;
  width: 60px;
  margin: 0 7px;
}
.eui-page .eui-select-wrap .eui-select {
  line-height: 32px;
  height: 32px;
  padding: 0 8px;
}
.eui-page .eui-select-wrap .eui-select-arrow {
  top: 13px;
  right: 5px;
  cursor: pointer;
}
.z-graphics {
  width: 49.5%;
  height: 500px;
  padding: 30px 0;
  border: 1px solid #eee;
  margin-bottom: 40px;
}
.eui-form-main .eui-form-item button.eui-btn {
  padding: 0 20px;
}
.z-table-wrap > h3 {
  margin: 10px 0;
}
.eui-tab {
  border: none;
  height: 100%;
}
.eui-tab .eui-tab-menu {
  position: relative;
}
.eui-tab .eui-tab-menu .eui-tab-item {
  font-size: 14px;
}
.eui-tab .eui-tab-main {
  height: 100%;
  margin-top: -46px;
  padding: 65px 0 0 0;
}
.eui-tab .eui-tab-main .eui-tab-item {
  height: 100%;
  overflow-y: auto;
}
.z-manager-rule {
  width: 600px;
  margin-left: 20px;
  padding: 25px 20px 20px;
  display: none;
}
.z-manager-rule .eui-form-label {
  line-height: 38px;
}
.z-manager-nav {
  float: left;
  height: 100%;
  overflow-y: scroll;
  background: #f1f4f7;
  border-radius: 10px;
  padding: 20px 10px;
}
.z-manager-nav > h6 {
  padding: 0 10px;
}
#browser {
  background: #f5f8fb;
  width: 200px;
  padding: 15px 25px;
  border-radius: 4px;
}
#browser h6 {
  padding: 0;
  margin-bottom: 10px;
}
#browser label {
  display: block;
  line-height: 40px;
  cursor: pointer;
}
#browser label input {
  margin-right: 3px;
}
#browser ul {
  margin-bottom: 15px;
  padding: 10px 0;
  border: 1px solid #dde3e9;
  border-left: none;
  border-right: none;
}
#group-rule {
  height: 100%;
}
#browser-main {
  height: 100%;
  overflow-y: auto;
  margin-left: 25px;
}
.no-display {
  display: none;
}
.sizeOrder-addList-item {
  margin-bottom: 10px;
}
.eui-layer-title {
  z-index: 10;
}
.search-light {
  background: #fc2;
}
.z-page-results {
  width: 600px;
  height: 240px;
  margin: 30px auto;
}
.z-page-results .z-page-results-main h2 {
  font-size: 32px;
  line-height: 60px;
}
.z-page-results .z-page-results-main p {
  line-height: 28px;
}
.z-page-results.error {
  background: url(/Public/Behind/images/dahulu.gif) no-repeat left center;
}
.z-page-results.error .z-page-results-main {
  padding: 70px 0 0 240px;
}
.z-page-results.success {
  background: url(/Public/Behind/images/jiayou.gif) no-repeat left center;
}
.z-page-results.success .z-page-results-main {
  padding: 70px 0 0 240px;
}
.z-home a:hover {
  color: #6cf;
}
.z-home .eui-col {
  margin-bottom: 30px;
}
.z-home .z-home-card {
  border: 1px solid #f1f4f7;
  height: 245px;
  border-radius: 7px;
  overflow: hidden;
}
.z-home .z-home-card h2 {
  background: #f1f4f7;
  font-size: 16px;
  line-height: 38px;
  padding: 0 10px;
}
.z-home .z-home-card h2 span > span {
  margin-right: 5px;
}
.z-home .z-home-card li {
  border-color: #f1f4f7 !important;
}
.z-home .z-sales-list a {
  display: block;
}
.z-home .z-statistical {
  height: 380px;
}
.z-grade-class,
.z-add-class,
.z-add-class-ipt {
  margin: 5px !important;
}
.white-init {
  white-space: inherit !important;
}
.z-add-class-ipt {
  width: 113px;
}
.z-table-produsts > div {
  width: 210px;
  line-height: 30px;
}
.z-table-produsts > div a {
  float: right;
  font-size: 20px;
  margin-left: 10px;
}
.z-table-w100,
.z-table-w150,
.z-table-w200,
.z-table-w250,
.z-table-w300,
.z-table-w350 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.z-table-information {
  display: none;
  position: fixed;
  max-width: 500px;
  top: 0;
  left: 0;
  z-index: 100;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 10px;
  transform: translateX(-50%);
}
.z-table-information:before {
  content: '';
  border: 7px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.8);
  left: 50%;
  bottom: -14px;
  margin-left: -7px;
  position: absolute;
}
#qrcode-wrap {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 640px;
  height: 1530px;
  background: #fff;
  padding: 50px 0;
}
#qrcode-wrap .qrcodebg1 {
  background: url(/Public/Behind/images/bookingQrcodeBg1.png) center no-repeat #fff;
  height: 110px;
}
#qrcode-wrap .qrcodebg2 {
  background: url(/Public/Behind/images/bookingQrcodeBg2.png) center top no-repeat #fff;
  height: 1100px;
  position: relative;
}
#qrcode-wrap .title-wrap {
  text-align: center;
  font-size: 50px;
  color: #746656;
  padding: 30px 30px 0;
}
#qrcode-wrap .title-wrap p {
  line-height: 80px;
  font-family: 'Arial', 'Microsoft YaHei';
}
#qrcode-wrap .qrcode {
  position: absolute;
  width: 360px;
  height: 360px;
  left: 50%;
  top: 100px;
  margin-left: -180px;
}
#qrcode-wrap .qrcode img {
  width: 100%;
  height: 100%;
  display: block;
}
#qrcode-wrap2 {
  display: inline-block;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 640px;
  height: 1040px;
  background: url(/Public/Behind/images/shoukuanbg.png) center no-repeat #fff;
}
#qrcode-wrap2 img {
  display: block;
  width: 350px;
  height: 350px;
  margin: 488px auto 50px;
}
#qrcode-wrap2 .school-name {
  text-align: center;
  font-size: 24px;
}
#think_page_trace_open {
  display: none;
}
.warehouse-btn,
.warehouse-btn:hover,
.warehouse-btn:active {
  color: #fff !important;
}
.warehouse {
  display: none;
  left: 70px;
  top: -26px;
  z-index: 3;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 20px;
  border-radius: 4px;
}
.warehouse .warehouse-item {
  display: block;
  color: #fff;
  text-align: left;
  line-height: 22px;
}
.warehouse .warehouse-item span {
  display: inline-block;
  width: 80px;
  font-size: 12px;
}
.warehouse a {
  text-decoration: none;
}
.warehouse:before {
  content: '';
  border: 10px solid transparent;
  border-right-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: -20px;
  top: 30px;
}
.warehouse.left {
  left: auto;
  right: 70px;
}
.warehouse.left:before {
  left: auto;
  right: -20px;
  border-right-color: transparent;
  border-left-color: rgba(0, 0, 0, 0.8);
}
.warehouse.bottom {
  top: auto;
  bottom: -26px;
}
.warehouse.bottom:before {
  top: auto;
  bottom: 30px;
}
.list-school-radio {
  margin-bottom: 10px;
}
.list-school-radio ul {
  margin-top: 10px;
  display: none;
}
.warehouse-editor-layer-main {
  margin-bottom: 20px;
  padding-left: 20px;
}
.warehouse-editor-layer-main h6 {
  line-height: 40px;
}
.warehouse-editor-layer-main .warehouse-editor-layer-item {
  display: inline-block;
  margin-right: 20px;
}
.rule-number {
  font-size: 0;
}
.rule-number span {
  display: block;
  width: 40px;
  height: 24px;
  text-align: center;
  font-size: 14px;
  margin: 0 !important;
}
.rule-number span input {
  width: 40px;
  text-align: center;
}
.rule-number span.tit {
  text-align: left;
  width: 60px;
}
.rule-number .rule-number-item {
  display: inline-block;
  font-size: 0;
}
.rule-number .rule-number-item.hover,
.rule-number span.hover {
  background: #dde3e9;
}
.rule-number span.on {
  background: #c4cbd3;
}
.scanning-title {
  background: #f5f8fb;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.scanning-title p {
  display: inline-block;
  width: 33%;
  line-height: 26px;
}
.scanning-wrap .scanning-info {
  padding: 15px 0;
  height: 70px;
  border-bottom: 1px solid #f1f4f7;
  border-top: 1px solid #f1f4f7;
}
.scanning-wrap .scanning-show {
  padding: 10px 0 25px;
}
.scanning-wrap .scanning-show-main,
.scanning-wrap .scanning-show-information {
  width: 38%;
  display: inline-block;
  padding: 30px;
  vertical-align: top;
  border-radius: 4px;
  border: 1px solid #dde3e9;
}
.scanning-wrap .scanning-show-main {
  width: 60%;
  position: relative;
}
.scanning-wrap .scanning-show-main .clear {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}
.scanning-wrap .scanning-show-main .clear a {
  margin-left: 20px;
}
.scanning-wrap .scanning-show-main .scanning-box {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  padding: 110px 0 0 25px;
  font-size: 14px;
  margin: 0;
  line-height: 26px;
  margin-top: 60px;
  background: url(/admin/eui/images/box-open.png) no-repeat 25px top;
  cursor: pointer;
}
.scanning-wrap .scanning-show-main .scanning-box.hide {
  display: none;
}
.scanning-wrap .scanning-show-main .scanBagCode {
  font-size: 54px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
}
.scanning-wrap .scanning-show-main .code-list {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  padding: 0 30px;
  line-height: 28px;
}
.scanning-wrap .scanning-show-main .code-list a {
  font-size: 14px;
  line-height: 34px;
}
.scanning-wrap .scanning-show-main .code-list ul {
  margin-top: 10px;
  border: 1px solid #dde3e9;
  border-radius: 4px;
  height: 162px;
  padding: 10px 15px;
  width: 510px;
}
.scanning-wrap .scanning-show-main .code-list ul li {
  width: 158px;
  margin: 0;
  float: left;
}
.scanning-wrap .scanning-show-information p {
  font-size: 20px;
  line-height: 54px;
}
.scanning-wrap .scanning-show-information p span {
  display: inline-block;
}
.scanning-wrap .scanning-box-list {
  font-size: 0;
  padding: 30px 0;
}
.scanning-wrap .scanning-box-list li {
  display: inline-block;
  position: relative;
  margin: 0 5px 5px 0;
  padding: 10px;
  font-size: 14px;
}
.scanning-wrap .scanning-box-list li .scanning-box {
  display: inline-block;
  font-size: 14px;
  width: 50px;
  height: 50px;
  background-image: url(/admin/eui/images/box-open.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.scanning-wrap .scanning-box-list li input {
  font-size: 16px;
  position: absolute;
  right: 10px;
  bottom: 18px;
}
.scanning-wrap .scanning-box-list li .info {
  display: inline-block;
  vertical-align: top;
  line-height: 25px;
  padding-left: 10px;
  width: 170px;
}
.scanning-wrap .scanning-box-list li:hover {
  color: #6cf;
}
.scanning-wrap .scanning-box-list .active .scanning-box {
  background-image: url(/admin/eui/images/box-open-active.png) !important;
}
.scanning-wrap .scanning-box-list .close {
  background: #f5f8fb;
}
.scanning-wrap .scanning-box-list .close .scanning-box {
  background-image: url(/admin/eui/images/box-close.png);
}
.scanning-wrap .scanning-box-list .close .scanning-box.active {
  background-image: url(/admin/eui/images/box-close-active.png);
}
.scanning-wrap .scanning-box-box li {
  padding-right: 35px;
}
.scanning-wrap .scanning-box-box li .info {
  width: 90px;
}
.scanning-wrap .scanning-show-main {
  position: relative;
  background: #f8f8f8;
}
.scanning-wrap .scanning-show-main .scanning-start,
.scanning-wrap .scanning-show-main .print-box-detail {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px !important;
}
.scanning-wrap .scanning-show-main .print-box-detail {
  right: 50px;
}
.scanning-wrap .scanning-show-information {
  height: 284px;
}
.sendGoods-tool {
  border-bottom: 1px solid #dde3e9;
  padding-bottom: 15px;
}
.scanning-parcel .scanning-info {
  font-size: 0;
}
.scanning-parcel .scanning-info .subnav {
  display: inline-block;
  line-height: 38px;
  height: 38px;
  padding: 0 20px;
  border-bottom: 2px solid #f1f4f7;
  font-size: 14px;
}
.scanning-parcel .scanning-info .active {
  color: #6cf;
  border-color: #6cf;
}
.scanning-parcel .scanning-show-main {
  width: 65%;
  height: 256px;
  padding: 15px 30px;
}
.scanning-parcel .scanning-show-main .scanning-box {
  margin-top: 0;
}
.scanning-parcel .scanning-show-main .scanning-box {
  background: url(/admin/eui/images/box-dai.png) no-repeat 25px top;
  margin-top: 10px;
}
.scanning-parcel .scanning-show-main .code-list-box {
  height: 190px !important;
}
.scanning-parcel .scanning-box-list li .scanning-box {
  background-image: url(/admin/eui/images/box-dai.png) !important;
}
.scanning-parcel .scanning-box-list .active .scanning-box {
  background-image: url(/admin/eui/images/box-dai-active.png) !important;
}
.scanning-parcel .scanning-box-list .close {
  background: #f5f8fb;
}
.scanning-parcel .scanning-box-list .close .scanning-box {
  background-image: url(/admin/eui/images/box-dai.png);
}
.scanning-parcel .scanning-box-list .close .scanning-box.active {
  background-image: url(/admin/eui/images/box-dai-active.png);
}
.scanning-parcel .scanning-box-list a {
  height: 75px !important;
  background-size: 100% !important;
}
.scanning-parcel .scanning-show-information {
  height: 256px;
  width: 34%;
}
.printList span {
  margin-right: 20px;
}
.btn-list {
  position: relative;
  width: 150px;
}
.btn-list .btn-list-wrap {
  display: none;
  position: absolute;
  z-index: 100;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  left: 0;
}
.btn-list .btn-list-wrap .btn-item {
  display: block;
  position: relative;
  width: 130px;
  margin: 10px;
}
.btn-list .btn-list-wrap .btn-item .btn-main {
  display: none;
  position: absolute;
  border-radius: 8px;
  top: 0;
  left: 130px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.btn-list .btn-list-wrap .btn-item .btn-main a {
  display: block;
  width: 130px;
  margin: 10px;
}
.btn-list:hover .btn-list-wrap {
  display: block;
}
.btn-list:hover .btn-item:hover .btn-main {
  display: block;
}
.batch-scan {
  position: fixed;
  width: 500px;
  top: 50%;
  left: 50%;
  z-index: 1;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  margin: -200px 0 0 -250px;
}
.batch-scan .head {
  display: block;
  padding: 0 10px;
  border-bottom: 1px solid #dde3e9;
  line-height: 50px;
}
.batch-scan .head h2 {
  line-height: 50px;
  font-size: 18px;
}
.batch-scan .head a {
  position: absolute;
  text-align: center;
  right: 0;
  top: 0;
  color: #f66;
  width: 50px;
  font-size: 24px;
}
.batch-scan .main {
  padding: 20px;
}
.batch-scan label {
  display: block;
  margin-bottom: 15px;
}
.batch-scan label span {
  display: inline-block;
  width: 70px;
  text-align: right;
  padding-right: 10px;
}
.batch-scan label input {
  width: 380px;
}
.batch-scan .error {
  display: inline-block;
  margin: 5px 0 0 80px;
}
.batch-open {
  position: absolute;
  right: 2px;
  top: 5px;
  padding: 0 5px;
  color: #8995a1;
  cursor: pointer;
}
.batch-open:hover {
  color: #6cf;
}
.outbound-wrap label {
  width: 50%;
}
.outbound-wrap label + label {
  margin-left: 25px;
}
.predict_increment input {
  width: 36px;
  line-height: 22px;
  border: 1px solid #dde3e9;
  text-align: center;
}
.fold-table {
  margin-bottom: 0;
  position: relative;
}
.fold-table thead {
  cursor: pointer;
}
.fold-table tbody {
  display: none;
}
.fold-table thead:after {
  position: absolute;
  cursor: pointer;
  font-family: "iconfont";
  content: "\e74a";
  font-size: 20px;
  top: 12px;
  right: 10px;
}
.fold-table.active tbody {
  display: contents;
}
.fold-table.active thead:after {
  content: "\e749";
}
.search-fold-open {
  margin-left: 10px;
  position: relative;
}
.search-fold-open span i {
  font-size: 14px;
}
.search-fold-open .search-fold {
  display: none;
  text-align: left;
  position: absolute;
  right: 0;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.search-fold-open.active span i {
  transform: rotate(180deg);
}
.search-fold-open.active .search-fold {
  display: block;
}
